<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.senzu.senzu_player">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

  <application>
      <service android:name=".SenzuDownloadService"
          android:exported="false"
          android:foregroundServiceType="dataSync">
          <intent-filter>
              <action android:name="androidx.media3.exoplayer.offline.action.INIT"/>
              <category android:name="android.intent.category.DEFAULT"/>
          </intent-filter>
      </service>
  </application>
</manifest>